{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/\4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/\1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}Книжный магазин{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
                <a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal">Книжный магазин</a>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="{% url 'book_list' %}">Книги</a>
                    <a class="p-2 text-dark" href="{% url 'about' %}">О нас</a>
                    {% if user.is_authenticated %}
                        {# <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a> #}
                        <a class="p-2 text-dark" href="{% url 'admin:index' %}">Панель администратора</a>
                        <a class="p-2 text-dark" href="{% url 'account_logout' %}">Выйти</a>
                    {% else %}
                        {# <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> #}
                        {# <a class="btn btn-outline-primary" href="{% url 'sign_up' %}">Регистрация</a> #}
                        <a class="p-2 text-dark" href="{% url 'account_login' %}">Войти</a>
                        <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Регистрация</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8\abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/\umd/popper.min.js" integrity="sha384UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1\clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/\bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6V\rjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block javascript %}
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
</body>
</html>