{% extends '_base.html' %}

{% load static %}


{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>
        Homepage
    </h1>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="GET">
        <input type="text" name="q" class="form-control mr-sm-2" placeholder="Введите поисковой запрос..." aria-label="Search">
    </form>
    <p>
        <img class="bookcover" src="{% static 'images/djangoforprofessionals.jpg' %}">
    </p>

    {% if user.is_authenticated %}
        Hi, {{ user.first_name | default:user.username }}{% if user.email %} (<i>{{ user.email }}</i>){% endif %}!
    {% comment %}
        <p>
            {# <a href="{% url 'logout' %}">Выйти</a> #}
            <a href="{% url 'account_logout' %}">Выйти</a>
        </p>
    {% else %}
        <p>
            Вы не вошли на сайт.
        </p>
        {# <a href="{% url 'login' %}">Войти</a> #}
        {# <a href="{% url 'sign_up' %}">Регистрация</a> #}
        <a href="{% url 'account_login' %}">Войти</a>
        <a href="{% url 'account_signup' %}">Регистрация</a>
    {% endcomment %}
    {% endif %}
{% endblock %}
