{% extends '_base.html' %}

{% load i18n %}
{% load account %}


{% block head_title %}
    {% trans "Подтверждение адреса электронной почты" %}
{% endblock %}

{% block content %}
    <h1>
        {% trans "Подтверждение регистрации адреса электронной почты" %}
    </h1>

    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}

        <p>
            {% blocktrans with confirmation.email_address.email as email %}
            Пожалуйста подтвердите этот электронный адрес (<a href="mailto:{{ email }}">{{ email }}</a>) для пользователя {{ user_display }}.
            {% endblocktrans %}
        </p>

        <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{% trans 'Подтвердить' %}</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}

        <p>
            {% blocktrans %}
            Ссылка на подтверждение адреса электрнной почты неактивна или нерабочая. Пожалуйста, <a href="mailto:{{ email }}">направьте новой подтверждение адреса электронной почты</a>.
            {% endblocktrans %}
        </p>
    {% endif %}

{% endblock %}