{% extends '_base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    Регистрация
{% endblock title %}

{% block content %}
    <h2>
        Регистрация
    </h2>
    <form method="post">
        {% csrf_token %}
        {# {{ form.as_p }} #}
        {{ form | crispy }}
        <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}