{% extends '_base.html' %}


{% block title %}
    Результат покупки
{% endblock %}

{% block content %}
    <h1>
        Спасибо за Ваш заказ!
    </h1>
    <p>
        Теперь у Вас есть доступ к всему <a href="{% url 'book_list' %}">списку книг</a>.
    </p>
{% endblock %}
