{% extends '_base.html' %}


{% block title %}
    Книги
{% endblock %}

{% block content %}
    <a href="{% url 'orders' %}" class="btn btn-success">Получить доступ ко всем книгам</a>
    {% for book in book_list %}
        <div>
            <h2>
                {# <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> #}
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </h2>
        </div>
    {% endfor %}
{% endblock %}
